* {
    margin: 0;
    padding: 0;
    font-family: 'Headland One', serif;
}

:root {
    --white-100: #ffffff;
    --white-200: #E5E5E5;
    --white-300: #CCCCCC;
    --white-400: #999999;
    
    --black-200: #333333;
    --black-300: #4D4D4D;
    --black-500: #808080;
    --green-100: #5CB85C;
    --green-200: #008000;
}

body {
    background-color: var(--white-200);
}

p, a, span, h1, h2, h3 {
    color: var(--black-200);
    font-family: 'Roboto', sans-serif;
    font-weight: 100;
} 

p {
    text-align: justify;
}

/*background: linear-gradient(0deg, var(--red-100) 0%, var(--orange-100) 30%, var(--yellow-100) 100%);*/