.nav-mobile .link-active a{
    color: var(--green-200);
}

.header nav a {
    padding-right: 0.8rem;
}

.links ul li i {
    margin-right: 0.4rem;
}

.title-section {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.main-btn {
    margin: 0rem;
}

.main-btn button {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0rem;
}

.main-btn button img {
    height: 1.6rem;
    width: auto;
    margin-right: 0.4rem;
}

.add-btn {
    width: 10rem;
}

.add-btn button {
    padding: 0.6rem 0rem;
}

.logout-btn {
    text-decoration: none;
}

.logout-btn div {
    background-color: var(--white-200);
    margin: 0rem;
    box-sizing: border-box;
    padding: 0.4rem 0.6rem;
    border-radius: 0.6rem;
    text-decoration: none;
    display: flex;
    align-items: center;
    font-size: 1rem;
    font-weight: 700;
    line-height: 1rem;
    color: var(--black-200);
    font-family: 'Roboto', sans-serif;
    cursor: pointer;
}

.logout-btn img {
    height: 1.4rem;
    width: auto;
    margin-right: 0.4rem;
}

.logout-box {
    display: flex;
    align-items: center;
}
@media only screen and (max-width: 1200px) {

    .logout-box a img {
        height: 1.6rem;
        width: auto;
        padding: 0rem 0.4rem;
        position: relative;
        transform: translate(0%,20%);
    }
}

/*
|--------------------------------------------
|    main-section
|--------------------------------------------
*/

.main-section {
    margin-top: 0rem;
}

.main-title {
    text-align: center;
    color: black;
    margin-bottom: 1rem;
    font-size: 2rem;
    font-weight: 900;
}

.desafio-container .search-container {
    width: 100%;
    box-sizing: border-box;
    padding: 0rem 3.6%;
    display: flex;
    margin-top: 1rem;
    justify-content: space-between;
    align-items: center;
}

.desafio-container .search-container select {
    width: 31%;
    height:2rem;
    outline-color: var(--black-200);
    font-family: 'Roboto', sans-serif;
    font-size: 1rem;
    padding: 0rem 0.4rem;
    border: none;
    border-radius: 0.6rem;
    box-shadow: 0px 3px 5px 2px rgba(0,0,0,0.3);
}

.desafio-container .search-container select option {
    font-family: 'Roboto', sans-serif;
    font-size: 1rem;
}

.desafio-container .search-container .search-box {
    width: 40%;
    display: flex;
    border-radius: 0.6rem;
    box-shadow: 0px 3px 5px 2px rgba(0,0,0,0.3);
}

.desafio-container .search-container .search-box input {
    width: 85%;
    height:2rem;
    outline-color: var(--black-200);
    font-family: 'Roboto', sans-serif;
    font-size: 1rem;
    padding-left: 0.4rem;
    border: none;
    border-top-left-radius: 0.6rem;
    border-bottom-left-radius: 0.6rem;
}

.desafio-container .search-container .search-box button {
    background: linear-gradient( var(--green-100), var(--green-200));
    color: var(--white-100);
    width: 15%;
    height:2rem;
    border: none;
    border-top-right-radius: 0.6rem;
    border-bottom-right-radius: 0.6rem;
    cursor: pointer;
}


.desafio-container {
    background-color: var(--white-300);
    width: 100%;
    border-radius: 0.6rem;
}

.desafio-container .sem-itens {
    width: 100%;
    text-align: center;
    padding: 2rem 0rem;
    font-weight: 700;
}

.desafio-container .sem-itens h1 {
    color: var(--black-300);
    font-weight: 700;
}

.desafio-container .main-desafio-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding: 1rem;
}

.desafio-container .main-desafio-container a {
    display: inline-block;
    width: 17rem;
    height: 16rem;
    border-radius: 0.6rem;
    box-sizing: border-box;
    padding: 0.6rem;
    margin: 1.6%;
    margin-bottom: 1rem;
    background-color: var(--black-300);
    border: 0.2rem solid var(--black-250);
    border-bottom: 0.4rem solid var(--black-250);
    text-decoration: none;
    box-shadow: 0px 5px 5px 2px rgba(0,0,0,0.3);
    cursor: pointer;
}

.card-desafio .card-img{
    background-color: var(--white-200);
    background-size: 100% 100%;
    width: 100%;
    height: 9rem;
    box-sizing: border-box;
    border-radius: 0.3rem;
    display: flex;
    justify-content: end;
}

.card-desafio .card-img h3{
    -webkit-text-stroke-width: 0.04rem;
    -webkit-text-stroke-color: var(--black-500);
    color: var(--black-200);
    font-weight: 900;
    font-size: 1.4rem;
    margin: 0.2rem 0.4rem;
}

.card-desafio .card-status {
    width: 100%;
    min-height: 7rem;
}

.card-desafio .card-status h3 {
    font-weight: 700;
    font-size: 1rem;
    color: var(--white-100);
    margin-top: 0.6rem;
    margin-bottom: 0rem;
}

.card-desafio .card-status p {
    margin: 0rem;
    color: #FFD466;
    font-size: 0.8rem;
    margin-top: 0.2rem;
    margin-bottom: 0rem;
}

.desafio-container .paginacao-desafio-container {
    width: 100%;
    height: 4rem;
    display: flex;
    justify-content: center;
}

.page-box {
    height: 2rem;
    width: 2rem;
    box-sizing: border-box;
    margin-right: 0.4rem;
    text-decoration: none;
    cursor: pointer;
}

.page-box .disable {
    background-color: var(--black-400);
    border: 0.2rem solid var(--black-500);
    border-bottom: 0.4rem solid var(--black-500);
}

.page-box .active {
    background-color: var(--green-200);
    border: 0.2rem solid var(--green-300);
    border-bottom: 0.4rem solid var(--green-300);
}

.page-box div {
    background-color: var(--black-300);
    height: 2.2rem;
    width: 2rem;
    border-radius: 0.6rem;
    box-sizing: border-box;
    border: 0.2rem solid var(--black-250);
    border-bottom: 0.4rem solid var(--black-250);
    display: flex;
    justify-content: center;
    align-items: center;
}

.page-box div p  {
    color: white;
    margin: 0rem;
    font-size: 0.7rem;
    font-weight: 700;
}

.title-section .button-box {
    width: 45%;
    margin-left: 5%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.btn-edit {
    margin: 0rem;
    width: 45%;
}

.btn-edit button {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0rem;
}

.btn-edit button i {
    margin: 0rem 0.6rem;
    font-size: 0.8rem;
}

.btn-danger {
    background: linear-gradient( var(--red-100), var(--red-200));
}

.btn-able {
    background: linear-gradient( var(--blue-100), var(--blue-200));
}

.btn-desable {
    background: linear-gradient( var(--white-350), var(--black-450));
}

@media only screen and (min-width: 800px) and (max-width: 1200px) {
    .title-section .button-box {
        width: 48%;
        margin-left: 2%;
    }
    
    .title-section .button-box a button {
        font-size: 0.8rem;
    }

    .desafio-container .main-desafio-container a {
        display: inline-block;
        width: 17rem;
        height: 16rem;
        border-radius: 0.6rem;
        box-sizing: border-box;
        padding: 0.6rem;
        margin: 1.6%;
        margin-bottom: 1rem;
        background-color: var(--black-300);
        border: 0.2rem solid var(--black-250);
        border-bottom: 0.4rem solid var(--black-250);
        text-decoration: none;
        box-shadow: 0px 5px 5px 2px rgba(0,0,0,0.3);
        cursor: pointer;
    }
    
    .desafio-container .paginacao-desafio-container {
        padding-left: 0%;
        justify-content: center;
    }
}

@media only screen and (max-width: 800px) {
    .title-section {
        display: block;
    }

    .title-section .button-box {
        width: 100%;
        padding: 0rem;
        margin: 2rem 0%;
        margin-bottom: 0rem;
    }

    .title-section .button-box a {
        width: 48%;
        padding: 0rem;
        margin-right: 0rem;
    }

    .title-section .button-box a button {
        width: 100%;
    }

    .title-section .main-btn {
        display: block;
        width: 100%;
        margin: 2rem 0rem;
    }
    
    
    .add-btn button {
        width: 100%;
        padding: 0.6rem 0rem;
    }

    .desafio-container .main-desafio-container a {
        display: inline-block;
        width: 17rem;
        height: 16rem;
        border-radius: 0.6rem;
        box-sizing: border-box;
        padding: 0.6rem;
        margin: 1.6%;
        margin-bottom: 1rem;
        background-color: var(--black-300);
        border: 0.2rem solid var(--black-250);
        border-bottom: 0.4rem solid var(--black-250);
        text-decoration: none;
        box-shadow: 0px 5px 5px 2px rgba(0,0,0,0.3);
        cursor: pointer;
    }
    
    .desafio-container .paginacao-desafio-container {
        padding-left: 0%;
        justify-content: center;
    }

    .page-box {
        height: 1.6rem;
        width: 1.4rem;
        margin-right: 0.2rem;
        text-decoration: none;
        cursor: pointer;
    }

    .page-box div {
        background-color: var(--black-300);
        height: 1.6rem;
        width: 1.4rem;
        border-radius: 0.4rem;
        box-sizing: border-box;
        border: 0.2rem solid var(--black-250);
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .page-box .disable {
        background-color: var(--black-400);
        border: 0.2rem solid var(--black-500);
    }
    
    .page-box .active {
        background-color: var(--green-200);
        border: 0.2rem solid var(--green-300);
    }
    
    .page-box div p  {
        color: white;
        margin: 0rem;
        font-size: 0.5rem;
        font-weight: 700;
    }

    .desafio-container .search-container {
        width: 100%;
        box-sizing: border-box;
        padding: 0rem 6%;
        display: flex;
        flex-wrap: wrap;
    }
    
    .desafio-container .search-container select {
        width: 100%;
        margin-bottom: 1rem;
    }
    
    .desafio-container .search-container .search-box {
        width: 100%;
        display: flex;
        border-radius: 0.6rem;
        box-shadow: 0px 3px 5px 2px rgba(0,0,0,0.3);
    }
    
    .desafio-container .search-container .search-box input {
        width: 80%;
        height: 2rem;
    }
    
    .desafio-container .search-container .search-box button {
        width: 20%;
        height: 2rem;
    }
    
}