.divisao {
    display: block;
    margin: 0px;
    margin-top: 3rem;
}

.divisao-1 {
    display: block;
    margin: 0px;
    margin-top: 1.4rem;
}

.divisao-2 {
    display: block;
    margin: 0px;
    margin-top: 2rem;
}

footer {
    flex-shrink: 0;
    width: 100%;
    height: 4rem;
    margin-top: auto;
    display: flex;
    align-items: center;
    background-color: var(--black-300);
    justify-content: center;
}

footer img {
    width: 1.6rem;
    height: auto;
    margin-top: -0.2rem;
}

footer p {
    color: white;
    font-weight: 300;
}

footer a {
    color: white;
    font-weight: 300;
    display: flex;
    align-items: center;
    text-decoration: none;
}

@media only screen and (max-width: 600px) {

    footer img {
        width: 1rem;
        height: auto;
        margin-top: -0.2rem;
    }

    footer p {
        font-size: 0.8rem;
    }
    
    footer a {
        font-size: 0.8rem;
    }
}